* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #f9f9f9;
}
#header {
  border-left: 4px solid #a90329;
  padding-left: 20px;
  color: #a90329;
}
input[name=searchField] {
  font-size: 20pt !important;
}
div.input {
  padding: 10px;
}
#resultHolder {
  color: #333;
  margin: 10px 20px;
}
#resultHolder a {
  color: #a90329;
  text-decoration: underline;
}
#footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #999;
  width: 60%;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 20%;
}
#footer a {
  text-decoration: none;
  color: #a90329;
}
